@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@media (max-width: 500px) {
    #calculator {
        max-width: 300px !important;
        padding: 24px !important;
    }

    #calculator button {
        padding: 8px 16px !important;
        font-size: 1.75em !important;
    }

    #calculator .display {
        min-height: 90px !important;
    }
    #calculator h3 {
        font-size: 1.75em !important;
    }
    #calculator .removeOptions button {
        font-size: 1em !important;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    flex: 1;
    padding: 32px;
}

#calculator {
    max-width: 400px;
    padding: 32px;
    border: 2px solid black;
    background-color: lightgray;
}

#calculator .display {
    border: 2px solid black;
    padding: 16px;
    margin-bottom: 32px;
    background-color: white;
    min-height: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

#calculator h3 {
    font-size: 2em;
}

p, h3 {
    margin: 0;
}

#calculator .optionsContainer, #calculator .numbers,
#calculator .numbers .row, #calculator .sidebar {
    display: flex;
    gap: 8px;
}

#calculator .numbers {
    flex-flow: row wrap;
}

#calculator .numbers .row {
    flex: 1;
}

#calculator .numbers .row.end {
    justify-content: flex-end;
}

#calculator .sidebar {
    flex-direction: column;
}

#calculator button {
    padding: 16px 24px;
    font-size: 2em;
    background-color: white;
    flex: 1;
    cursor: pointer;
    transition: all .05s ease;
}

#calculator button:hover {
    border: 2px solid white;
    color: dimgray;
}

#calculator button.clicked {
    transform: scale(1.1);
    background-color: lightslategray !important;
    color: white;
    border: 2px solid white;
}

#calculator .removeOptions {
    display: flex;
    justify-content: space-between;
}

#calculator .removeOptions button {
    margin-bottom: 8px;
    font-size: 1.5em;
    padding: 8px 16px;
    flex: 0 auto;
}

#calculator .sidebar button {
    background-color: honeydew;
}
#calculator button.clear {
    background-color: lavender;
}
#calculator button.delete {
    background-color: lightpink;
}
#calculator button.equals {
    background-color: lightcyan;
}

footer {
    background-color: ghostwhite;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer a {
    color: black;
    text-decoration-color: deeppink;
    transition: 0.2s;
}

footer a:hover {
    color: deeppink;
    text-decoration: none;
}